@use "sass:map";
@use "./../../util/styles/variables" as var;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.veil {
  @include flex-center;
  //
  position: fixed;
  top: 0;
  left: 0;
  //
  width: 100vw;
  height: 100vh;
  //
  z-index: 9999;
  //
  background-color: map.get(var.$modal, "veil-color");

  .modalCard {
    width: 80vw;
    height: 30vh;
    max-width: 500px;
    //
    background-color: white;
    //
    border: solid 1px map.get(var.$modal, "border-color");
    border-radius: 10px;

    .component {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
